.daterangepicker {
	width: 100%;
	height: 50px;
	background: #fff;
}

.daterangepicker.is-active {
	border: 1px solid #0E1933;
}

.daterangepicker .input-section {
	width: calc(100% / 2);
	height: 50px;
	display: block;
	float: left;
	outline: none;
	padding: 7px 10px;
	color: #2c2e2f;
	cursor: pointer;
	position: relative;
}

.daterangepicker .input-section:first-child {
	border-right: 1px solid #D4DADE;
}

.daterangepicker .input-section .label-txt,
.daterangepicker .input-section .value-txt {
	display: block;
}

.daterangepicker .input-section .label-txt {
	color: #0E1933;
	font-size: 11px;
}

.daterangepicker .input-section .value-txt {
	color: #2c2e2f;
	font-size: 13px;
	border-bottom: 1px solid transparent;
}

.daterangepicker .input-section .cal-icon {
	position: absolute;
	display: block;
	right: 10px;
	bottom: 14px;
}

.daterangepicker .input-section .cal-icon svg {
	width: 20px;
	height: 20px;
}

.daterangepicker .input-section .cal-icon svg path {
	fill: #0E1933;
}

.daterangepicker .calendar {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 500px;
	border: 1px solid #0E1933;
	border-radius: 7px;
	background: #fff;
	position: absolute;
	top: 75px;
	left: 10px;
	z-index: 3;
	display: none;
}

.daterangepicker .calendar:after {
	content: '';
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	top: -16px;
	left: 65px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-top: 1px solid #0E1933;
	border-left: 1px solid #0E1933;
	background: #fff;
	-webkit-transition: left 0.5s;
	transition: left 0.5s;
}

.daterangepicker .calendar.is-opened {
	display: block;
}

.daterangepicker .calendar.is-to:after {
	left: 215px;
}

.daterangepicker .calendar .calendar-container {
	display: inline-block;
	width: 340px;
	height: 100%;
	padding: 20px;
	border-right: 1px solid #D4DADE;
	float: left;
}

.daterangepicker .calendar .calendar-container .controls {
	width: 100%;
	height: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.daterangepicker .calendar .calendar-container .controls .control-icon {
	display: block;
	width: 12px;
	height: 20px;
	cursor: pointer;
}

.daterangepicker .calendar .calendar-container .controls .control-title {
	font-size: 17px;
	color: #2c2e2f;
	text-transform: capitalize;
}

.daterangepicker .calendar .calendar-container .day-names {
	display: inline-block;
	width: 300px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.daterangepicker .calendar .calendar-container .day-names .day-name {
	width: calc(300px / 7);
	font-size: 13px;
	color: #9CA3A6;
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
}

.daterangepicker .calendar .calendar-container .days {
	display: inline-block;
	width: 300px;
}

.daterangepicker .calendar .calendar-container .days .day {
	width: calc(300px / 7);
	font-size: 13px;
	color: #9CA3A6;
	display: block;
	float: left;
	text-align: center;
	margin-bottom: 15px;
	cursor: pointer;
	font-weight: bold;
}

.daterangepicker .calendar .calendar-container .days .day.is-within-range {
	background: #DFE4F0;
	color: #333333;
}

.daterangepicker .calendar .calendar-container .days .day.is-from,
.daterangepicker .calendar .calendar-container .days .day.is-first-weekday {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.daterangepicker .calendar .calendar-container .days .day.is-to,
.daterangepicker .calendar .calendar-container .days .day.is-last-weekday {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.daterangepicker .calendar .calendar-container .days .day .day-num {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	float: left;
	width: calc(300px / 7);
	height: 100%;
	border-radius: 50%;
	padding: 10px 15px;
}

.daterangepicker .calendar .calendar-container .days .day .day-num:hover,
.daterangepicker .calendar .calendar-container .days .day .day-num.is-active {
	background: #0E1933;
	color: #fff;
}

.daterangepicker .calendar .side-container {
	width: 158px;
	min-height: 390px;
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.daterangepicker .calendar .side-container .side-container-buttons {
	width: 138px;
	margin-top: 50px;
}

.daterangepicker .calendar .side-container .side-container-buttons .side-button {
	background: #fff;
	border-radius: 15px;
	border: 1px solid #0E1933;
	height: 30px;
	width: 138px;
	display: block;
	text-align: center;
	outline: none;
	margin-bottom: 15px;
	color: #6B737C;
	font-size: 13px;
	cursor: pointer;
}
.daterangepicker .calendar .side-container .side-container-buttons .side-button:hover,
.daterangepicker .calendar .side-container .side-container-buttons .side-button.is-active {
	background: #0E1933;
	color: #fff;
}
.daterangepicker .calendar .side-container .side-container-buttons .side-button:focus {
	outline: none !important;
	box-shadow: none !important;
}

.daterangepicker .calendar .side-container .close-icon {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 20px;
	right: 15px;
	cursor: pointer;
}

.daterangepicker.theme-green.is-active {
	border-color: #0b7285;
}

.daterangepicker.theme-green .input-section .label-txt {
	color: #0b7285;
}

.daterangepicker.theme-green .input-section .cal-icon svg path {
	fill: #0b7285;
}

.daterangepicker.theme-green .calendar {
	border-color: #0b7285;
}

.daterangepicker.theme-green .calendar:after {
	border-top-color: #0b7285;
	border-left-color: #0b7285;
}

.daterangepicker.theme-green .calendar .calendar-container .days .day.is-within-range {
	background: #13c3e3;
}

.daterangepicker.theme-green .calendar .calendar-container .days .day .day-num:hover,
.daterangepicker.theme-green .calendar .calendar-container .days .day .day-num.is-active {
	background: #0b7285;
}

.daterangepicker.theme-green .calendar .side-container .side-container-buttons .side-button {
	border-color: #0b7285;
}

.daterangepicker.theme-green .calendar .side-container .side-container-buttons .side-button:hover,
.daterangepicker.theme-green .calendar .side-container .side-container-buttons .side-button.is-active {
	background: #0b7285;
}

.daterangepicker.theme-teal.is-active {
	border-color: #087f5b;
}

.daterangepicker.theme-teal .input-section .label-txt {
	color: #087f5b;
}

.daterangepicker.theme-teal .input-section .cal-icon svg path {
	fill: #087f5b;
}

.daterangepicker.theme-teal .calendar {
	border-color: #087f5b;
}

.daterangepicker.theme-teal .calendar:after {
	border-top-color: #087f5b;
	border-left-color: #087f5b;
}

.daterangepicker.theme-teal .calendar .calendar-container .days .day.is-within-range {
	background: #0edfa0;
}

.daterangepicker.theme-teal .calendar .calendar-container .days .day .day-num:hover,
.daterangepicker.theme-teal .calendar .calendar-container .days .day .day-num.is-active {
	background: #087f5b;
}

.daterangepicker.theme-teal .calendar .side-container .side-container-buttons .side-button {
	border-color: #087f5b;
}

.daterangepicker.theme-teal .calendar .side-container .side-container-buttons .side-button:hover,
.daterangepicker.theme-teal .calendar .side-container .side-container-buttons .side-button.is-active {
	background: #087f5b;
}

.daterangepicker.theme-cyan.is-active {
	border-color: #0b7285;
}

.daterangepicker.theme-cyan .input-section .label-txt {
	color: #0b7285;
}

.daterangepicker.theme-cyan .input-section .cal-icon svg path {
	fill: #0b7285;
}

.daterangepicker.theme-cyan .calendar {
	border-color: #0b7285;
}

.daterangepicker.theme-cyan .calendar:after {
	border-top-color: #0b7285;
	border-left-color: #0b7285;
}

.daterangepicker.theme-cyan .calendar .calendar-container .days .day.is-within-range {
	background: #13c3e3;
}

.daterangepicker.theme-cyan .calendar .calendar-container .days .day .day-num:hover,
.daterangepicker.theme-cyan .calendar .calendar-container .days .day .day-num.is-active {
	background: #0b7285;
}

.daterangepicker.theme-cyan .calendar .side-container .side-container-buttons .side-button {
	border-color: #0b7285;
}

.daterangepicker.theme-cyan .calendar .side-container .side-container-buttons .side-button:hover,
.daterangepicker.theme-cyan .calendar .side-container .side-container-buttons .side-button.is-active {
	background: #0b7285;
}

.daterangepicker.theme-grape.is-active {
	border-color: #862e9c;
}

.daterangepicker.theme-grape .input-section .label-txt {
	color: #862e9c;
}

.daterangepicker.theme-grape .input-section .cal-icon svg path {
	fill: #862e9c;
}

.daterangepicker.theme-grape .calendar {
	border-color: #862e9c;
}

.daterangepicker.theme-grape .calendar:after {
	border-top-color: #862e9c;
	border-left-color: #862e9c;
}

.daterangepicker.theme-grape .calendar .calendar-container .days .day.is-within-range {
	background: #ba60d0;
}

.daterangepicker.theme-grape .calendar .calendar-container .days .day .day-num:hover,
.daterangepicker.theme-grape .calendar .calendar-container .days .day .day-num.is-active {
	background: #862e9c;
}

.daterangepicker.theme-grape .calendar .side-container .side-container-buttons .side-button {
	border-color: #862e9c;
}

.daterangepicker.theme-grape .calendar .side-container .side-container-buttons .side-button:hover,
.daterangepicker.theme-grape .calendar .side-container .side-container-buttons .side-button.is-active {
	background: #862e9c;
}

.daterangepicker.theme-red.is-active {
	border-color: #c92a2a;
}

.daterangepicker.theme-red .input-section .label-txt {
	color: #c92a2a;
}

.daterangepicker.theme-red .input-section .cal-icon svg path {
	fill: #c92a2a;
}

.daterangepicker.theme-red .calendar {
	border-color: #c92a2a;
}

.daterangepicker.theme-red .calendar:after {
	border-top-color: #c92a2a;
	border-left-color: #c92a2a;
}

.daterangepicker.theme-red .calendar .calendar-container .days .day.is-within-range {
	background: #e27777;
}

.daterangepicker.theme-red .calendar .calendar-container .days .day .day-num:hover,
.daterangepicker.theme-red .calendar .calendar-container .days .day .day-num.is-active {
	background: #c92a2a;
}

.daterangepicker.theme-red .calendar .side-container .side-container-buttons .side-button {
	border-color: #c92a2a;
}

.daterangepicker.theme-red .calendar .side-container .side-container-buttons .side-button:hover,
.daterangepicker.theme-red .calendar .side-container .side-container-buttons .side-button.is-active {
	background: #c92a2a;
}

.daterangepicker.theme-gray.is-active {
	border-color: #212529;
}

.daterangepicker.theme-gray .input-section .label-txt {
	color: #212529;
}

.daterangepicker.theme-gray .input-section .cal-icon svg path {
	fill: #212529;
}

.daterangepicker.theme-gray .calendar {
	border-color: #212529;
}

.daterangepicker.theme-gray .calendar:after {
	border-top-color: #212529;
	border-left-color: #212529;
}

.daterangepicker.theme-gray .calendar .calendar-container .days .day.is-within-range {
	background: #4e5862;
}

.daterangepicker.theme-gray .calendar .calendar-container .days .day .day-num:hover,
.daterangepicker.theme-gray .calendar .calendar-container .days .day .day-num.is-active {
	background: #212529;
}

.daterangepicker.theme-gray .calendar .side-container .side-container-buttons .side-button {
	border-color: #212529;
}

.daterangepicker.theme-gray .calendar .side-container .side-container-buttons .side-button:hover,
.daterangepicker.theme-gray .calendar .side-container .side-container-buttons .side-button.is-active {
	background: #212529;
}.daterangepickercontainer{
	position: relative;
}
.daterangepicker{
	display: block;
	color: inherit;
	background-color: #fff;
	border-radius: 4px;
	z-index: 3001;
	border: 1px solid #D4DADE
}
.daterangepicker:before, .daterangepicker:after{
	position: absolute;
	display: inline-block;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	/* content: ""; */
}
.daterangepicker:before{
	top: -7px;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-bottom: 7px solid rgba(0, 0, 0, 0.15);
}
.daterangepicker:after{
	top: -6px;
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0, 0, 0, 0.3);
	border-left: 6px solid transparent;
}
.rangecontainer{
	min-width: 120px;
	vertical-align: top;
	padding: 20px 15px 20px 15px;
}
.rangebuttonstyle{
	position: relative;
	display: block;
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin: 15px 0;
}
.rangebuttontextstyle{
	display: block;
	padding: 0.36875rem 0.9375rem;
	font-size: 0.8125rem;
	line-height: 1.36363636;
	min-width: 3.75rem;
	background-color: transparent;
	border-color: #013088;
	border: 1px solid #013088;
	border-top-color: rgb(0, 112, 186);
	border-right-color: rgb(0, 112, 186);
	border-bottom-color: rgb(0, 112, 186);
	border-left-color: rgb(0, 112, 186);
	border-radius: 1.5rem;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: all 250ms ease;
}
.rangeButtonSelectedStyle {}
.rangeButtonSelectedStyle .rangebuttontextstyle{
	background-color: #013088;
	color: #ffffff;
	box-shadow: none;
	border-color: #013088;
	background-color: #013088;
	color: #ffffff;
	box-shadow: none;
	border-color: #013088;
}
.fromDateTimeContainer{
	font-size: 13px;
	width : 270px;
	margin: 0;
	display: inline-block;
	padding: 0 10px;
}
.fromDateHourContainer{
	border: 1px solid #f5f5f5;
	border-radius: 4px;
}
.dateTimeLabel{
	text-align: center;
	font-weight: bold;
	padding-bottom: 5px;
}
.inputDate{
	height: 30px;
}
.calendarAddon{
	background-color: inherit;
}
.timeContainer{
	text-align: center;
	position: relative;
}
.timeSelectContainer{
	margin : 8px;
}
.timeIconStyle{
	position: absolute;
	top : 3px;
	left: 14px;
	font-style: normal;
	color: #555; 
}
.multipleContentOnLine{
	position: relative;
	display: inline;
	padding: 1px;
}
.buttonContainer{
	position: absolute;
	display: flex;
	bottom: 0;
	right: 0;
	margin-right: 13px;
	margin-left: 13px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.buttonSeperator{
	padding-left: 5px;
	padding-right: 5px;
}
.applyButton{
	border-color: #4cae4c;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	padding: 5px 10px;
	cursor: pointer;
	margin-right: 4px;
	border: 1px solid #5cb85c;
}
.cancelButton{
	background-color: #fff;
	color: #333;
	font-size: 12px;
	border-radius: 3px;
	padding: 5px 10px;
	cursor: pointer;
	border: 1px solid #ccc;
}
.maxDateLabel{
	padding: 7px;
	font-size: 10px;
}
.monthYearContainer{
	margin : 16px 0 15px 0;
	display: flex;
}
.leftChevron{
	display: grid;
	width: 15%;
	margin-top: 6px;
	padding: 2px;
	justify-content: left;
	font-size: 14px;
}
.centerDate{
	text-transform: capitalize;
	margin: 0 auto;
	font-size: 20px;
        font-weight: 300;
}
.rightChevron{
	display: grid;
	width: 15%;
	margin-top: 6px;
	padding: 2px;
	justify-content: right;
	font-size: 14px;
}
.calendarGrid{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	text-align: center;
}
.calendarCell{
	padding: 10px;
}
.activeNotifier{
	text-align: center;
	padding-bottom: 40px;
}
.dot{
	height: 10px;
	width: 10px;
	background-color: #12bc00;
	border-radius: 50%;
	display: inline-block;
}
